* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-color: #121212;
    max-width: 100%;
}
.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}
.flex-box {
}
#game-canvas {
    width: 896px;
    height: 504px;
    background-color: #1e2229;
    margin-top: 32px;
}
#game-text {
    width: 896px;
    height: 192px;
    overflow: scroll;
    background-color: #1e2229;
    border: 3px solid #684E11;
}
