* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    background-color: #121212;
    min-height: 100vh;
    max-width: 100%;
}
.flex-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-box {
    margin: 5px;
}
#game-window {
    width: 936px;
    height: 544px;
}
#game-canvas {
    width: 896px;
    height: 504px;
    margin: auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}
#text-window {
    width: 936px;
    height: 232px;
    text-align: left;
}
#game-text {
    width: 896px;
    height: 192px;
    margin: auto;
    display: block;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    overflow: scroll;
    background-color: #171009;
    border: 3px solid #684E11;
}
